<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (C) 2014-2016, Codeplex user AlphaCentaury
All rights reserved, except those granted by the governing license of this software. See 'license.txt' file in the project root for complete license information.
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include Strings.wxi ?>
  <Fragment>
    <Icon Id='ChannelList.ico' SourceFile='$(var.ChannelList.ProjectDir)\Resources\IPTV.ico' />
    <Icon Id='FirstTimeConfig.ico' SourceFile='$(var.FirstTimeConfig.ProjectDir)\Resources\install.ico' />
    
    <ComponentGroup Id="RegistryConfiguration">
      <Component Id="RegistryConfiguration_Install" Guid="*" Directory="ProgramStartMenuFolder">
        <RegistryKey Root='HKCU' Key='$(var.BaseRegistryKey)' ForceDeleteOnUninstall='yes'>
          <RegistryValue Type='string' Name='Installed' Value='1' KeyPath='yes' />
          <RegistryKey Key='Folders'>
            <RegistryValue Type='string' Name='Base' Value='[BaseFolder]' />
            <RegistryValue Type='string' Name='Install' Value='[INSTALLFOLDER]' />
          </RegistryKey>
          <RegistryKey Key='Features'>
          </RegistryKey>
        </RegistryKey>
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="Redist">
      <Component Id="x86RedistEmb" Directory="x86RedistFolder">
        <File Id ="x86RedistEmb" Source="$(var.SolutionDir)Setup\MainSetup\Redist\!(loc.RedistLanguage)\x86/SQLServer2005_EMB.msi" />
      </Component>
      <Component Id="x64RedistEmb" Directory="x64RedistFolder">
        <File Id ="x64RedistEmb" Source="$(var.SolutionDir)Setup\MainSetup\Redist\!(loc.RedistLanguage)\x64/SQLServer2005_EMB.msi" />
      </Component>
      <Component Id="x86RedistSqlCe" Directory="RedistFolder">
        <File Id ="x86RedistSqlCe" Source="$(var.SolutionDir)Setup\MainSetup\Redist\!(loc.RedistLanguage)\SSCERuntime_x86-!(loc.RedistLanguage).exe" />
      </Component>
      <Component Id="x64RedistSqlCe" Directory="RedistFolder">
        <File Id ="x64RedistSqlCe" Source="$(var.SolutionDir)Setup\MainSetup\Redist\!(loc.RedistLanguage)\SSCERuntime_x64-!(loc.RedistLanguage).exe" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="CommonComponents">
      <Component Id="CommonAssemblies" Directory="INSTALLFOLDER" Guid="$(var.Guid.Component.CommonAssemblies)">
        <File Id="Core.IpTvProvider.dll" Source="$(var.Core.IpTvProvider.TargetDir)Core.IpTvProvider.dll" />
        <File Id="Etsi.Ts102034.dll" Source="$(var.Etsi.Ts102034.TargetDir)Etsi.Ts102034.dll" />
        <File Id="DvbStpClient.dll" Source="$(var.DvbStpClient.TargetDir)DvbStpClient.dll" />
        <File Id="IpTv.MovistarPlus.dll" Source="$(var.IpTv.MovistarPlus.TargetDir)IpTv.MovistarPlus.dll" />
        <File Id="Project.Common.dll" Source="$(var.Project.Common.TargetDir)Project.Common.dll" />
        <File Id="Project.Native.dll" Source="$(var.Project.Native.TargetDir)Project.Native.dll" />
        <File Id="Services.SqlServerCE.dll" Source="$(var.Services.SqlServerCE.TargetDir)Services.SqlServerCE.dll" />
        <File Id="UiServices.Configuration.dll" Source="$(var.UiServices.Config.TargetDir)UiServices.Configuration.dll" />
        <File Id="UiServices.Common.dll" Source="$(var.UiServices.Common.TargetDir)UiServices.Common.dll" />
        <File Id="UiServices.Discovery.dll" Source="$(var.UiServices.Discovery.TargetDir)UiServices.Discovery.dll" />
        <File Id="UiServices.DvbStpClient.dll" Source="$(var.UiServices.DvbStpClient.TargetDir)UiServices.DvbStpClient.dll" />
        <File Id="UiServices.Forms.dll" Source="$(var.UiServices.Forms.TargetDir)UiServices.Forms.dll" />
        <File Id='license.txt' Source='$(var.SolutionDir)!(loc.SourceFileLicenseAgreement).txt' Name='!(loc.FileLicenseAgreement).txt' />
        <File Id='license.rtf' Source='$(var.SolutionDir)!(loc.SourceFileLicenseAgreement).rtf' Name='!(loc.FileLicenseAgreement).rtf' />
      </Component>

      <Component Id="CommonAssemblies.PDB" Directory="INSTALLFOLDER" Guid="$(var.Guid.Component.CommonAssemblies.PDB)">
        <File Id="Core.IpTvProvider.pdb" Source="$(var.Core.IpTvProvider.TargetDir)Core.IpTvProvider.pdb" />
        <File Id="Etsi.Ts102034.pdb" Source="$(var.Etsi.Ts102034.TargetDir)Etsi.Ts102034.pdb" />
        <File Id="DvbStpClient.pdb" Source="$(var.DvbStpClient.TargetDir)DvbStpClient.pdb" />
        <File Id="IpTv.MovistarPlus.pdb" Source="$(var.IpTv.MovistarPlus.TargetDir)IpTv.MovistarPlus.pdb" />
        <File Id="Project.Common.pdb" Source="$(var.Project.Common.TargetDir)Project.Common.pdb" />
        <File Id="Project.Native.pdb" Source="$(var.Project.Native.TargetDir)Project.Native.pdb" />
        <File Id="Services.SqlServerCE.pdb" Source="$(var.Services.SqlServerCE.TargetDir)Services.SqlServerCE.pdb" />
        <File Id="UiServices.Configuration.pdb" Source="$(var.UiServices.Config.TargetDir)UiServices.Configuration.pdb" />
        <File Id="UiServices.Common.pdb" Source="$(var.UiServices.Common.TargetDir)UiServices.Common.pdb" />
        <File Id="UiServices.Discovery.pdb" Source="$(var.UiServices.Discovery.TargetDir)UiServices.Discovery.pdb" />
        <File Id="UiServices.DvbStpClient.pdb" Source="$(var.UiServices.DvbStpClient.TargetDir)UiServices.DvbStpClient.pdb" />
        <File Id="UiServices.Forms.pdb" Source="$(var.UiServices.Forms.TargetDir)UiServices.Forms.pdb" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="CommonComponents.Localization">
      <Component Id="CommonAssemblies.Localization.es" Directory="InstallFolder.es" Guid="$(var.Guid.Component.CommonAssemblies.Localization.es)">
        <!--
        <File Id="Core.IpTvProvider.es.dll" Source="$(var.Core.IpTvProvider.TargetDir)es\Core.IpTvProvider.resources.dll" />
        <File Id="Etsi.Ts102034.es.dll" Source="$(var.Etsi.Ts102034.TargetDir)es\Etsi.Ts102034.resources.dll" />
        <File Id="DvbStpClient.es.dll" Source="$(var.DvbStpClient.TargetDir)es\DvbStpClient.resources.dll" />
        <File Id="IpTv.MovistarPlus.es.dll" Source="$(var.IpTv.MovistarPlus.TargetDir)es\IpTv.MovistarPlus.resources.dll" />
        -->
        <File Id="Project.Common.es.dll" Source="$(var.Project.Common.TargetDir)es\Project.Common.resources.dll" />
        <!--
        <File Id="Project.Native.es.dll" Source="$(var.Project.Native.TargetDir)es\Project.Native.resources.dll" />
        <File Id="Services.SqlServerCE.es.dll" Source="$(var.Services.SqlServerCE.TargetDir)es\Services.SqlServerCE.resources.dll" />
        -->
        <File Id="UiServices.Configuration.es.dll" Source="$(var.UiServices.Config.TargetDir)es\UiServices.Configuration.resources.dll" />
        <File Id="UiServices.Common.es.dll" Source="$(var.UiServices.Common.TargetDir)es\UiServices.Common.resources.dll" />
        <File Id="UiServices.Discovery.es.dll" Source="$(var.UiServices.Discovery.TargetDir)es\UiServices.Discovery.resources.dll" />
        <File Id="UiServices.DvbStpClient.es.dll" Source="$(var.UiServices.DvbStpClient.TargetDir)es\UiServices.DvbStpClient.resources.dll" />
        <File Id="UiServices.Forms.es.dll" Source="$(var.UiServices.Forms.TargetDir)es\UiServices.Forms.resources.dll" />
      </Component>
    </ComponentGroup>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="ChannelList">
        <File Id="ChannelList.exe" Source="$(var.ChannelList.TargetDir)ChannelList.exe" KeyPath="yes">
          <Shortcut Id='ChannelList.exe.lnk'
                    Directory='ProgramStartMenuFolder'
                    Name='!(loc.ChannelList.exe.lnk)'
                    Icon='ChannelList.ico' IconIndex='0'
                    WorkingDirectory='INSTALLFOLDER'
                    Advertise='yes' />
        </File>
        <File Id='ChannelList.exe.config' Source='$(var.ChannelList.TargetDir)ChannelList.exe.config' />
        <File Id='ChannelList.pdb' Source='$(var.ChannelList.TargetDir)ChannelList.pdb' />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="ProductComponents.Localization">
      <Component Id="ChannelList.es" Directory="InstallFolder.es">
        <File Id="ChannelList.es.exe" Source="$(var.ChannelList.TargetDir)es\ChannelList.resources.dll" />
      </Component>
    </ComponentGroup>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ContentProviderComponents" Directory="BaseFolder">
      <Component Id="ContentProvider">
        <File Id="movistartv_config.xml" Source="$(var.SolutionDir)movistartv-config.xml" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>