<?xml version="1.0" encoding="UTF-8"?>
<!--
==============================================================================

  Copyright (C) 2014-2020, GitHub/Codeplex user AlphaCentaury
  All rights reserved.

    See 'LICENSE.MD' file (or 'license.txt' if missing) in the project root
    for complete license information.

  http://www.alphacentaury.org/movistartv
  https://github.com/AlphaCentaury

==============================================================================
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include strings.wxi ?>
  <?include strings.guid.wxi ?>
  <Fragment>
    <Feature Id="Feature.EPG"
             Absent="disallow"
             Title="EPG"
             Display="hidden"
             Description="Enables the EPG capabilities. If this feature is not installed, EPG information will not be available.">
      <ComponentGroupRef Id="EPG.Assemblies"/>
      <ComponentGroupRef Id="EPG.Assemblies.Localization"/>
    </Feature>

    <!-- Assemblies -->
    <ComponentGroup Id="EPG.Assemblies" Directory="INSTALLFOLDER">
      <Component Id="EPG.Assemblies" Guid="$(var.Guid.EPG.Assemblies)">
        <RegistryValue Root="HKCU" Key="$(var.BaseRegistryKey)\Features" Name="EPG"  Type="integer" Value="1" />
        <File Id="Services.EpgDiscovery.dll" Source="$(var.Services.EpgDiscovery.TargetDir)Services.EpgDiscovery.dll" KeyPath="yes" />
        <File Id="Services.EpgDiscovery.pdb" Source="$(var.Services.EpgDiscovery.TargetDir)Services.EpgDiscovery.pdb" />
        <File Id="UiServices.EPG.dll" Source="$(var.UiServices.EPG.TargetDir)UiServices.EPG.dll" />
        <File Id="UiServices.EPG.pdb" Source="$(var.UiServices.EPG.TargetDir)UiServices.EPG.pdb" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="EPG.Assemblies.Localization">
      <Component Id="EPG.Assemblies.Localization.es" Directory="InstallFolder.es" Guid="$(var.Guid.EPG.Assemblies.Localization.es)">
        <File Id="Services.EpgDiscovery.es.dll" Source="$(var.Services.EpgDiscovery.TargetDir)es\Services.EpgDiscovery.resources.dll" />
        <File Id="UiServices.EPG.es.dll" Source="$(var.UiServices.EPG.TargetDir)es\UiServices.EPG.resources.dll" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
