<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (C) 2014-2019, GitHub/Codeplex user AlphaCentaury

All rights reserved, except those granted by the governing license of this software.
See 'license.txt' file in the project root for complete license information.

http://www.alphacentaury.org/movistartv https://github.com/AlphaCentaury
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
    <Feature Id="Feature.Logos"
             Absent="disallow">
      <ComponentGroupRef Id="Logos.Providers"/>
      <ComponentGroupRef Id="Logos.Services.Generic"/>
      <ComponentGroupRef Id="Logos.Services.Imagenio"/>
    </Feature>

    <ComponentGroup Id="Logos.Providers" Directory="Folder.Logos">
      <Component>
        <File Id="logos.providers.xml" Source="$(var.Logos.TargetDir)packed-logos\{logos-providers}.xml" KeyPath="yes" />
      </Component>
      <Component>
        <File Id="logos.providers.32" Source="$(var.Logos.TargetDir)packed-logos\{logos-providers} 32.png" KeyPath="yes" />
      </Component>
      <Component>
        <File Id="logos.providers.48" Source="$(var.Logos.TargetDir)packed-logos\{logos-providers} 48.png" KeyPath="yes" />
      </Component>
      <Component>
        <File Id="logos.providers.64" Source="$(var.Logos.TargetDir)packed-logos\{logos-providers} 64.png" KeyPath="yes" />
      </Component>
      <Component>
        <File Id="logos.providers.96" Source="$(var.Logos.TargetDir)packed-logos\{logos-providers} 96.png" KeyPath="yes" />
      </Component>
      <Component>
        <File Id="logos.providers.128" Source="$(var.Logos.TargetDir)packed-logos\{logos-providers} 128.png" KeyPath="yes" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="Logos.Services.Generic" Directory="Folder.Logos">
      <Component>
        <File Id="logos.services.generic.xml" Source="$(var.Logos.TargetDir)packed-logos\{logos-services} generic.xml" KeyPath="yes" />
      </Component>
      <Component>
        <File Id="logos.services.generic.32" Source="$(var.Logos.TargetDir)packed-logos\{logos-services} generic@32.png" KeyPath="yes" />
      </Component>
      <Component>
        <File Id="logos.services.generic.48" Source="$(var.Logos.TargetDir)packed-logos\{logos-services} generic@48.png" KeyPath="yes" />
      </Component>
      <Component>
        <File Id="logos.services.generic.64" Source="$(var.Logos.TargetDir)packed-logos\{logos-services} generic@64.png" KeyPath="yes" />
      </Component>
      <Component>
        <File Id="logos.services.generic.96" Source="$(var.Logos.TargetDir)packed-logos\{logos-services} generic@96.png" KeyPath="yes" />
      </Component>
      <Component>
        <File Id="logos.services.generic.128" Source="$(var.Logos.TargetDir)packed-logos\{logos-services} generic@128.png" KeyPath="yes" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="Logos.Services.Imagenio" Directory="Folder.Logos">
      <Component>
        <File Id="logos.services.imagenio.xml" Source="$(var.Logos.TargetDir)packed-logos\{logos-services} imagenio.es.xml" KeyPath="yes" />
      </Component>
      <Component>
        <File Id="logos.services.imagenio.32" Source="$(var.Logos.TargetDir)packed-logos\{logos-services} imagenio.es@32.png" KeyPath="yes" />
      </Component>
      <Component>
        <File Id="logos.services.imagenio.48" Source="$(var.Logos.TargetDir)packed-logos\{logos-services} imagenio.es@48.png" KeyPath="yes" />
      </Component>
      <Component>
        <File Id="logos.services.imagenio.64" Source="$(var.Logos.TargetDir)packed-logos\{logos-services} imagenio.es@64.png" KeyPath="yes" />
      </Component>
      <Component>
        <File Id="logos.services.imagenio.96" Source="$(var.Logos.TargetDir)packed-logos\{logos-services} imagenio.es@96.png" KeyPath="yes" />
      </Component>
      <Component>
        <File Id="logos.services.imagenio.128" Source="$(var.Logos.TargetDir)packed-logos\{logos-services} imagenio.es@128.png" KeyPath="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
