<?xml version="1.0" encoding="UTF-8"?>
<!--
==============================================================================

  Copyright (C) 2014-2020, GitHub/Codeplex user AlphaCentaury
  All rights reserved.

    See 'LICENSE.MD' file (or 'license.txt' if missing) in the project root
    for complete license information.

  http://www.alphacentaury.org/movistartv
  https://github.com/AlphaCentaury

==============================================================================
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
  <?include Strings.wxi ?>
  <Product Id="$(var.ProductId)"
           UpgradeCode="$(var.UpgradeCode)"
           Name="!(loc.ProductName)"
           Language="!(loc.LANGUAGE)"
           Codepage="Windows-1252"
           Version="$(var.Version)"
           Manufacturer="$(var.Manufacturer)">
    <Package Id="*" InstallerVersion="405" Compressed="yes" InstallScope="perUser"
             Description="!(loc.PackageDescription)" Languages="!(loc.LANGUAGE)" Manufacturer="$(var.Manufacturer)" />

    <!-- Ensure .NET Framework 4.6.2 is installed -->
    <PropertyRef Id="WIX_IS_NETFRAMEWORK_462_OR_LATER_INSTALLED"/>
    <Condition Message="!(loc.NetFrameworkNotPresent)">
      <![CDATA[Installed OR WIX_IS_NETFRAMEWORK_462_OR_LATER_INSTALLED]]>
    </Condition>

    <!--Upgrade v1.5.1010.0 or greater to v1.5.1100 -->
    <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeErrorMessage)" Schedule="afterInstallValidate" AllowDowngrades="no" />
    <Upgrade Id="$(var.UpgradeCode)">
      <UpgradeVersion OnlyDetect="no" Property="PREVIOUSFOUND"
                      Minimum="1.5.1010.0" IncludeMinimum="yes"
                      Maximum="$(var.Version)" IncludeMaximum="no" />
    </Upgrade>

    <MediaTemplate EmbedCab="yes" />

    <UIRef Id='WixUI_Minimal'/>
    <!--<UIRef Id='WixUI_FeatureTree'/>-->
    <WixVariable Id='WixUIBannerBmp' Value='bannrbmp.bmp'/>
    <WixVariable Id='WixUIDialogBmp' Value='dlgbmp.bmp'/>
    <!-- ATENCION: WixVariable no permite utilizar !(loc.xxx); por tanto, el nombre del archivo de licencia va a "piñon fijo"; hay que buscar la forma de solucionar esto; cuando se crea un instalador para otro idioma es necesario modificar manualmente el nombre del archivo para que se incluya el acuerdo de licencia en el idioma correcto -->
    <WixVariable Id="WixUILicenseRtf" Value="$(var.SolutionDir)movistartv.license.es.rtf" />

    <Icon Id="Icon.Product" SourceFile="iptviewr-for-movistarplus_alt.ico"/>
    <Property Id="ARPPRODUCTICON" Value="Icon.Product" />
    <Property Id='ARPHELPLINK'>https://www.alphacentaury.org/temas/movistartv/</Property>
    <Property Id='ARPURLINFOABOUT'>https://www.alphacentaury.org/movistartv</Property>
    <Property Id='ARPURLUPDATEINFO'>https://www.alphacentaury.org/movistartv/downloads</Property>

    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="!(loc.WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT)" />
    <Property Id="WixShellExecTarget" Value="[#FirstTimeConfig.exe]" />
    <CustomAction Id="LaunchApplication" BinaryKey="WixCA" DllEntry="WixShellExec" Impersonate="yes" />
    <UI>
      <Publish Dialog="ExitDialog" Control="Finish" Event="DoAction" Value="LaunchApplication">
        <![CDATA[WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed]]>
      </Publish>
    </UI>

    <Feature Id="ProductFeature" Title="!(loc.ProductName)" Level="1" Absent="disallow" Display="expand">
      <Feature Id="Features" Display="expand" Title="Additional features">
        <FeatureRef Id="Feature.Record" />
        <FeatureRef Id="Feature.EPG" />
      </Feature>
      <Feature Id="Base" Title="Common files" Absent="disallow">
        <ComponentGroupRef Id="ContentProvider" />
        <ComponentGroupRef Id="Core" />
        <ComponentGroupRef Id="DVB" />
        <ComponentGroupRef Id="Product" />
        <ComponentGroupRef Id="Product.Registry" />
        <ComponentGroupRef Id="Telemetry" />
        <ComponentGroupRef Id="ThirdParty" />
        <ComponentGroupRef Id="Redist" />
        <ComponentGroupRef Id="Services" />
        <ComponentGroupRef Id="UIServices" />
        <ComponentGroupRef Id="Uninstall" />
        <FeatureRef Id="Feature.Logos" />
        <FeatureRef Id="Feature.Tools" />
      </Feature>
    </Feature>
  </Product>
</Wix>
