<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (C) 2014-2019, GitHub/Codeplex user AlphaCentaury

All rights reserved, except those granted by the governing license of this software.
See 'license.txt' file in the project root for complete license information.

http://www.alphacentaury.org/movistartv https://github.com/AlphaCentaury
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
  <?include Strings.wxi ?>
  <Product Id="$(var.ProductId)" Name="!(loc.ProductName)" Language="!(loc.LANGUAGE)" Codepage="Windows-1252" Version="$(var.Version)" Manufacturer="$(var.Manufacturer)"  UpgradeCode="$(var.UpgradeCode)">
    <Package Id="*" InstallerVersion="405" Compressed="yes" InstallScope="perUser"
      Description="!(loc.PackageDescription)" Languages="!(loc.LANGUAGE)" Manufacturer="http://www.alphacentaury.org" />

    <!-- Ensure .NET Framework 4.5.2 is installed -->
    <PropertyRef Id="WIX_IS_NETFRAMEWORK_452_OR_LATER_INSTALLED"/>
    <PropertyRef Id="NETFRAMEWORK35_SP_LEVEL"/>
    <Condition Message="!(loc.NetFrameworkNotPresent)">
      <![CDATA[Installed OR WIX_IS_NETFRAMEWORK_452_OR_LATER_INSTALLED]]>
    </Condition>

    <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeErrorMessage)" />
    <MediaTemplate EmbedCab="yes" />

    <Feature Id="ProductFeature" Title="!(loc.ProductName)" Level="1" Absent="disallow" Display="expand">
      <Feature Id="Features" Display="expand" Title="Aditional features">
        <FeatureRef Id="Feature.Record" />
        <FeatureRef Id="Feature.EPG" />
      </Feature>
      <Feature Id="Base" Title="Common files" Absent="disallow">
        <FeatureRef Id="Feature.Logos" />
        <FeatureRef Id="Feature.Tools" />
        <ComponentGroupRef Id="RegistryConfiguration" />
        <ComponentGroupRef Id="CommonComponents" />
        <ComponentGroupRef Id="CommonComponents.Localization" />
        <ComponentGroupRef Id="ProductComponents" />
        <ComponentGroupRef Id="ProductComponents.Localization" />
        <ComponentGroupRef Id="ContentProviderComponents" />
        <ComponentGroupRef Id="UninstallFolders" />
        <ComponentGroupRef Id="ThirdParty"/>
        <ComponentGroupRef Id="Redist"/>
      </Feature>
    </Feature>

    <UIRef Id='WixUI_Minimal'/>
    <!--<UIRef Id='WixUI_FeatureTree'/>-->
    <WixVariable Id='WixUIBannerBmp' Value='bannrbmp.bmp'/>
    <WixVariable Id='WixUIDialogBmp' Value='dlgbmp.bmp'/>
    <!-- ATENCION: WixVariable no permite utilizar !(loc.xxx); por tanto, el nombre del archivo de licencia va a "piñon fijo"; hay que buscar la forma de solucionar esto; cuando se crea un instalador para otro idioma es necesario modificar manualmente el nombre del archivo para que se incluya el acuerdo de licencia en el idioma correcto -->
    <WixVariable Id="WixUILicenseRtf" Value="$(var.SolutionDir)solution-license_es.rtf" />

    <Icon Id="Icon.Product" SourceFile="iptviewr-for-movistarplus_alt.ico"/>
    <Property Id="ARPPRODUCTICON" Value="Icon.Product" />
    <Property Id='ARPHELPLINK'>https://www.alphacentaury.org/temas/movistartv/</Property>
    <Property Id='ARPURLINFOABOUT'>https://www.alphacentaury.org/movistartv</Property>
    <Property Id='ARPURLUPDATEINFO'>https://www.alphacentaury.org/movistartv/downloads</Property>

    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="!(loc.WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT)" />
    <Property Id="WixShellExecTarget" Value="[#FirstTimeConfig.exe]" />
    <CustomAction Id="LaunchApplication" BinaryKey="WixCA" DllEntry="WixShellExec" Impersonate="yes" />
    <UI>
      <Publish Dialog="ExitDialog" Control="Finish" Event="DoAction" Value="LaunchApplication">
        <![CDATA[WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed]]>
      </Publish>
    </UI>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="PersonalFolder">
        <Directory Id="Folder.IPTViewr" Name="IPTViewr">
          <Directory Id="BaseFolder" Name="$(var.BaseInstallFolder)">
            <Directory Id="INSTALLFOLDER" Name="bin">
              <Directory Id="RedistFolderBase" Name ="Redist">
                <Directory Id="RedistFolder" Name="!(loc.RedistLanguage)">
                  <Directory Id="x86RedistFolder" Name="x86" />
                  <Directory Id="x64RedistFolder" Name="x64" />
                </Directory>
              </Directory>
              <Directory Id="InstallFolder.es" Name="es" />
            </Directory>
            <Directory Id="CacheFolder" Name="Cache" />
            <Directory Id="Folder.Logos" Name="Logos" />
            <Directory Id="RecordTasksFolder" Name="RecordTasks" />
          </Directory>
        </Directory>
      </Directory>

      <Directory Id="ProgramMenuFolder">
        <Directory Id="ProgramStartMenuFolder" Name="!(loc.ProgramStartMenuFolder)" />
      </Directory>
    </Directory>

    <ComponentGroup Id="UninstallFolders">
      <Component Id="Folders" Directory="BaseFolder" Guid="$(var.Guid.Component.Folders)">
        <RemoveFile Id="Purge_BaseFolder" Name="*.*" On="uninstall" />
        <RemoveFile Id="Purge_INSTALLFOLDER" Name="*.*" On="uninstall" Directory="INSTALLFOLDER" />
        <RemoveFile Id="Purge_InstallFolder.es" Name="*.*" On="uninstall" Directory="InstallFolder.es"/>
        <RemoveFile Id="Purge_RedistFolderBase" Name="*.*" On="uninstall" Directory="RedistFolderBase"/>
        <RemoveFile Id="Purge_RedistFolder" Name="*.*" On="uninstall" Directory="RedistFolder"/>
        <RemoveFile Id="Purge_RedistFolderx86" Name="*.*" On="uninstall" Directory="x86RedistFolder"/>
        <RemoveFile Id="Purge_RedistFolderx64" Name="*.*" On="uninstall" Directory="x64RedistFolder"/>
        <RemoveFile Id="Purge_CacheFolder" Name="*.*" On="uninstall" Directory="CacheFolder" />
        <RemoveFile Id="Purge_LogosFolder" Name="*.*" On="uninstall" Directory="Folder.Logos"/>
        <RemoveFile Id="Purge_RecordTasksFolder" Name="*.*" On="uninstall" Directory="RecordTasksFolder"/>

        <RemoveFolder Id="Remove_DvbFolder" On="uninstall" Directory="Folder.IPTViewr" />
        <RemoveFolder Id="Remove_BaseFolder" On="uninstall" Directory="BaseFolder"/>
        <RemoveFolder Id="Remove_INSTALLFOLDER" On="uninstall" Directory="INSTALLFOLDER"/>
        <RemoveFolder Id="Remove_InstallFolder.es" On="uninstall" Directory="InstallFolder.es"/>
        <RemoveFolder Id="Remove_RedistFolderBase" On="uninstall" Directory="RedistFolderBase"/>
        <RemoveFolder Id="Remove_RedistFolder" On="uninstall" Directory="RedistFolder"/>
        <RemoveFolder Id="Remove_RedistFolderx86" On="uninstall" Directory="x86RedistFolder"/>
        <RemoveFolder Id="Remove_RedistFolderx64" On="uninstall" Directory="x64RedistFolder"/>
        <RemoveFolder Id="Remove_CacheFolder" On="uninstall" Directory="CacheFolder" />
        <RemoveFolder Id="Remove_LogosFolder" On="uninstall" Directory="Folder.Logos"/>
        <RemoveFolder Id="Remove_RecordTasksFolder" On="uninstall" Directory="RecordTasksFolder"/>
      
        <RemoveFile Id="Purge_ProgramStartMenuFolder" Name="*.*" On="uninstall" Directory="ProgramStartMenuFolder"/>

        <RemoveFolder Id="Remove_ProgramStartMenuFolder" On="uninstall" Directory="ProgramStartMenuFolder"/>
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
