<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (C) 2014-2019, GitHub/Codeplex user AlphaCentaury

All rights reserved, except those granted by the governing license of this software.
See 'license.txt' file in the project root for complete license information.

http://www.alphacentaury.org/movistartv https://github.com/AlphaCentaury
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include Strings.wxi ?>
  <Fragment>
    <Feature Id="Feature.Record"
             Absent="allow"
             Title="Recording capabilities"
             Display="hidden"
             Description="Enables the recording capabilities. If this feature is not installed, recording programs will not be possible.">
      <ComponentGroupRef Id="Record.Assemblies"/>
      <ComponentGroupRef Id="Record.Assemblies.Localization"/>
      <ComponentGroupRef Id="Record.DB"/>
      <ComponentGroupRef Id="Record.Launcher" />
      <ComponentGroupRef Id="Record.Launcher.Localization" />
    </Feature>

    <!-- Assemblies -->
    <ComponentGroup Id="Record.Assemblies">
      <Component Id="Record.Assemblies" Directory="INSTALLFOLDER" Guid="$(var.Guid.Component.Record.Assemblies)">
        <RegistryValue Root="HKCU" Key="$(var.BaseRegistryKey)\Features" Name="Record"  Type="integer" Value="1" />
        <File Id="Services.Record.dll" Source="$(var.Services.Record.TargetDir)Services.Record.dll" />
        <File Id="Services.Record.Serialization.dll" Source="$(var.Services.Record.Serialization.TargetDir)Services.Record.Serialization.dll" />
        <File Id="UiServices.Record.dll" Source="$(var.UiServices.Record.TargetDir)UiServices.Record.dll" />
        <File Id="Microsoft.Win32.TaskScheduler.dll" Source="$(var.Services.Record.TargetDir)Microsoft.Win32.TaskScheduler.dll" />
      </Component>
      <Component Id="Record.Assemblies.PDB" Directory="INSTALLFOLDER" Guid="$(var.Guid.Component.Record.Assemblies.PDB)">
        <File Id="Services.Record.pdb" Source="$(var.Services.Record.TargetDir)Services.Record.pdb" />
        <File Id="Services.Record.Serialization.pdb" Source="$(var.Services.Record.Serialization.TargetDir)Services.Record.Serialization.pdb" />
        <File Id="UiServices.Record.pdb" Source="$(var.UiServices.Record.TargetDir)UiServices.Record.pdb" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="Record.Assemblies.Localization" Directory="InstallFolder.es">
      <Component Id="Record.Assemblies.Localization.es" Guid="$(var.Guid.Component.Record.Assemblies.Localization.es)">
        <File Id="Services.Record.es.dll" Source="$(var.Services.Record.TargetDir)es\Services.Record.resources.dll" />
        <File Id="Services.Record.Serialization.es.dll" Source="$(var.Services.Record.Serialization.TargetDir)es\Services.Record.Serialization.resources.dll" />
        <File Id="UiServices.Record.es.dll" Source="$(var.UiServices.Record.TargetDir)es\UiServices.Record.resources.dll" />
      </Component>
    </ComponentGroup>

    <!-- Database -->
    <ComponentGroup Id="Record.DB">
      <Component Id="Record.DB" Directory="RecordTasksFolder">
        <File Id="RecordTasks.sdf" Source="$(var.SolutionDir)DB\RecordTasks.sdf" />
      </Component>
    </ComponentGroup>

    <!-- IpTvRecorderLauncher -->
    <ComponentGroup Id="Record.Launcher" Directory="INSTALLFOLDER">
      <Component Id="IpTvRecorderLauncher">
        <File Id="IpTvRecorderLauncher.exe" Source="$(var.IpTvRecorderLauncher.TargetDir)IpTvRecorderLauncher.exe" />
        <File Id="IpTvRecorderLauncher.pdb" Source="$(var.IpTvRecorderLauncher.TargetDir)IpTvRecorderLauncher.pdb" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="Record.Launcher.Localization">
      <Component Id="Record.Launcher.Localization.es" Directory="InstallFolder.es">
        <File Id="IpTvRecorderLauncher.es.exe" Source="$(var.IpTvRecorderLauncher.TargetDir)es\IpTvRecorderLauncher.resources.dll" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
