<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
    <ComponentGroup Id="ThirdParty">
      <Component Id="ThirdParty.JsonNet.dll" Directory="INSTALLFOLDER">
        <File Id="Newtonsoft.Json.dll" Source="$(var.ChannelList.TargetDir)Newtonsoft.Json.dll" />
      </Component>
      <Component Id="ThirdParty.Newtonsoft.Json.pdb" Directory="INSTALLFOLDER">
        <File Id="Newtonsoft.Json.pdb" Source="$(var.ChannelList.TargetDir)Newtonsoft.Json.pdb" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>