<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Project.IpTv.ChannelList.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Project.IpTv.ChannelList.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Project.IpTv.ChannelList.Properties.Settings>
            <setting name="ForceUiCulture" serializeAs="String">
                <value />
            </setting>
            <setting name="LastSelectedServiceProvider" serializeAs="String">
                <value />
            </setting>
            <setting name="LastSelectedService" serializeAs="String">
                <value />
            </setting>
        </Project.IpTv.ChannelList.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Project.IpTv.ChannelList.Properties.Settings>
            <setting name="RecorderLauncherDevelopment" serializeAs="String">
                <value>..\..\..\IpTvRecorderLauncher\bin\debug\IpTvRecorderLauncher.exe</value>
            </setting>
            <setting name="DevelopmentLocationPath" serializeAs="String">
                <value>\bin\debug</value>
            </setting>
            <setting name="RecorderLauncher" serializeAs="String">
                <value>.\IpTvRecorderLauncher.exe</value>
            </setting>
            <setting name="AppUiConfigurationRegisterItems" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>UiBroadcastListSettingsConfigurationRegistration, UiServices.Discovery</string>
                    </ArrayOfString>
                </value>
            </setting>
        </Project.IpTv.ChannelList.Properties.Settings>
    </applicationSettings>
</configuration>