<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
  <Product Id="aa41b721-8657-4ec7-9fd1-9f27dbda4ad0"
           Name="!(loc.ProductName)"
           Language="!(loc.LANGUAGE)"
           Codepage="Windows-1252"
           Version="1.0.40100.0"
           Manufacturer="http://movistartv.codeplex.com"
           UpgradeCode="afd3b1aa-d204-42bf-b831-becb33b2ace1">
    <Package Id="*"
             InstallerVersion="300"
             Compressed="yes"
             InstallScope="perUser"
             Description="!(loc.PackageDescription)"
             Languages="!(loc.LANGUAGE)"
             Manufacturer="http://movistartv.codeplex.com" />

    <PropertyRef Id="NETFRAMEWORK20"/>

    <Condition Message="!(loc.NetFramework20)">
      <![CDATA[Installed OR NETFRAMEWORK20]]>
    </Condition>

    <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeErrorMessage)" />
    <MediaTemplate EmbedCab="yes" />

    <Feature Id="ProductFeature" Title="MainSetup" Level="1">
      <ComponentGroupRef Id="Folders" />
      <ComponentGroupRef Id="CommonComponents" />
      <ComponentGroupRef Id="CommonComponents_Localized" />
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentGroupRef Id="ProductComponents_Localized" />
      <ComponentGroupRef Id="FirstTimeConfigComponents" />
      <ComponentGroupRef Id="FirstTimeConfigComponents_Localized" />
      <ComponentGroupRef Id="IpTvRecorderLauncherComponents" />
      <ComponentGroupRef Id="IpTvRecorderLauncherComponents_Localized" />
      <ComponentGroupRef Id="ContentProviderComponents" />
      <ComponentGroupRef Id="Logos.Content" />
    </Feature>

    <UIRef Id='WixUI_Minimal'/>
    <WixVariable Id='WixUIBannerBmp' Value='bannrbmp.bmp'/>
    <WixVariable Id='WixUIDialogBmp' Value='dlgbmp.bmp'/>
    <!-- ATENCION: WixVariable no permite utilizar !(loc.xxx); por tanto, el nombre del archivo de licencia va a "piñon fijo"; hay que buscar la forma de solucionar esto; cuando se crea un instalador para otro idioma es necesario modificar manualmente el nombre del archivo para que se incluya el acuerdo de licencia en el idioma correcto -->
    <WixVariable Id="WixUILicenseRtf" Value="$(var.SolutionDir)solution-license_es.rtf" />

    <Icon Id="ProductIcon" SourceFile="$(var.ChannelList.ProjectDir)Resources\IPTV.ico"/>
    <Property Id="ARPPRODUCTICON" Value="ProductIcon" />
    <Property Id='ARPHELPLINK'>http://movistartv.codeplex.com/documentation/</Property>
    <Property Id='ARPURLINFOABOUT'>http://movistartv.codeplex.com/</Property>
    <Property Id='ARPURLUPDATEINFO'>http://movistartv.codeplex.com/releases/</Property>

    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="!(loc.WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT)" />
    <Property Id="WixShellExecTarget" Value="[#FirstTimeConfig.exe]" />
    <CustomAction Id="LaunchApplication" BinaryKey="WixCA" DllEntry="WixShellExec" Impersonate="yes" />
    <UI>
      <Publish Dialog="ExitDialog" Control="Finish" Event="DoAction" Value="LaunchApplication">
        <![CDATA[WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed]]>
      </Publish>
    </UI>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="PersonalFolder">
        <Directory Id="DvbFolder" Name="DVB-IPTV">
          <Directory Id="BaseFolder" Name="MovistarTV (v1.0 Wolf-424)">
            <Directory Id="INSTALLFOLDER" Name="bin">
              <Directory Id="InstallFolder_es" Name="es" />
            </Directory>
            <Directory Id="CacheFolder" Name="Cache" />
            <Directory Id="LogosFolder" Name="Logos" />
            <Directory Id="RecordTasksFolder" Name="RecordTasks" />
          </Directory>
        </Directory>
      </Directory>

      <Directory Id="ProgramMenuFolder">
        <Directory Id="DvbIpTvStartMenuFolder" Name="!(loc.DvbIpTvStartMenuFolder)">
          <Directory Id="ProgramStartMenuFolder" Name="!(loc.ProgramStartMenuFolder)">
            <Directory Id="ToolsStartMenuFolder" Name="!(loc.ToolsStartMenuFolder)" />
          </Directory>
        </Directory>
      </Directory>
    </Directory>

    <ComponentGroup Id="Folders">
      <Component Id="Folders" Directory="BaseFolder" Guid="E36DB31D-61D4-41C2-977A-391DCEFA00AF">
        <RemoveFile Id="Purge_BaseFolder" Name="*.*" On="uninstall" />
        <RemoveFile Id="Purge_INSTALLFOLDER" Name="*.*" On="uninstall" Directory="INSTALLFOLDER" />
        <RemoveFile Id="Purge_InstallFolder_es" Name="*.*" On="uninstall" Directory="InstallFolder_es"/>
        <RemoveFile Id="Purge_CacheFolder" Name="*.*" On="uninstall" Directory="CacheFolder" />
        <RemoveFile Id="Purge_LogosFolder" Name="*.*" On="uninstall" Directory="LogosFolder"/>
        <RemoveFile Id="Purge_RecordTasksFolder" Name="*.*" On="uninstall" Directory="RecordTasksFolder"/>

        <RemoveFolder Id="Remove_DvbFolder" On="uninstall" Directory="DvbFolder" />
        <RemoveFolder Id="Remove_BaseFolder" On="uninstall" Directory="BaseFolder"/>
        <RemoveFolder Id="Remove_INSTALLFOLDER" On="uninstall" Directory="INSTALLFOLDER"/>
        <RemoveFolder Id="Remove_InstallFolder_es" On="uninstall" Directory="InstallFolder_es"/>
        <RemoveFolder Id="Remove_CacheFolder" On="uninstall" Directory="CacheFolder" />
        <RemoveFolder Id="Remove_LogosFolder" On="uninstall" Directory="LogosFolder"/>
        <RemoveFolder Id="Remove_RecordTasksFolder" On="uninstall" Directory="RecordTasksFolder"/>
      
        <RemoveFile Id="Purge_ProgramStartMenuFolder" Name="*.*" On="uninstall" Directory="ProgramStartMenuFolder"/>
        <RemoveFile Id="Purge_ToolsStartMenuFolder" Name="*.*" On="uninstall" Directory="ToolsStartMenuFolder"/>

        <RemoveFolder Id="Remove_DvbIpTvStartMenuFolder" On="uninstall" Directory="DvbIpTvStartMenuFolder" />
        <RemoveFolder Id="Remove_ProgramStartMenuFolder" On="uninstall" Directory="ProgramStartMenuFolder"/>
        <RemoveFolder Id="Remove_ToolsStartMenuFolder" On="uninstall" Directory="ToolsStartMenuFolder"/>
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>