<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <!--<?include Strings.wxi ?>
  <Fragment>
    <Feature Id="Feature.EPG"
             Absent="allow"
             Title="EPG"
             Display="hidden"
             Description="Enables the EPG capabilities. If this feature is not installed, EPG information will not be available.">
      <ComponentGroupRef Id="EPG.Assemblies"/>
      <ComponentGroupRef Id="EPG.Assemblies.Localization"/>
      <ComponentGroupRef Id="EPG.DB"/>
    </Feature>

    --><!-- Assemblies --><!--
    <ComponentGroup Id="EPG.Assemblies">
      <Component Id="EPG.Assemblies" Directory="INSTALLFOLDER" Guid="$(var.Guid.Component.EPG.Assemblies)">
        <RegistryValue Root="HKCU" Key="$(var.BaseRegistryKey)\Features" Name="EPG"  Type="integer" Value="1" />
        <File Id="Services.EPG.dll" Source="$(var.Services.EPG.TargetDir)Services.EPG.dll" KeyPath="yes" />
        <File Id="UiServices.EPG.dll" Source="$(var.UiServices.EPG.TargetDir)UiServices.EPG.dll" />
        <File Id="ConsoleEPGLoader.exe" Source="$(var.ConsoleEPGLoader.TargetDir)ConsoleEPGLoader.exe" />
      </Component>
      <Component Id="EPG.Assemblies.PDB" Directory="INSTALLFOLDER" Guid="$(var.Guid.Component.EPG.PDB)">
        <File Id="Services.EPG.pdb" Source="$(var.Services.EPG.TargetDir)Services.EPG.pdb" />
        <File Id="UiServices.EPG.pdb" Source="$(var.UiServices.EPG.TargetDir)UiServices.EPG.pdb" />
        <File Id="ConsoleEPGLoader.pdb" Source="$(var.ConsoleEPGLoader.TargetDir)ConsoleEPGLoader.pdb" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="EPG.Assemblies.Localization">
      <Component Id="EPG.Assemblies.Localization.es" Directory="InstallFolder.es" Guid="$(var.Guid.Component.EPG.Assemblies.Localization.es)">
        --><!--<File Id="Services.EPG.es.dll" Source="$(var.Services.EPG.TargetDir)es\Services.EPG.resources.dll" />--><!--
        <File Id="UiServices.EPG.es.dll" Source="$(var.UiServices.EPG.TargetDir)es\UiServices.EPG.resources.dll" />
        <File Id="ConsoleEPGLoader.es.exe" Source="$(var.ConsoleEPGLoader.TargetDir)es\ConsoleEPGLoader.resources.dll" />
      </Component>
    </ComponentGroup>

    --><!-- Database --><!--
    <ComponentGroup Id="EPG.DB">
      <Component Id="EPG.DB" Directory="CacheFolder">
        <File Id="EPG.sdf" Source="$(var.SolutionDir)DB\EPG.sdf" />
      </Component>
    </ComponentGroup>
  </Fragment>-->
</Wix>